.introCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
.introCard div {
  padding: 2rem;
  min-width: 250px;
}

.introCard h2 {
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 3px;
}

.introCard header p {
  padding: 1.5rem 0;
  font-family: sans-serif;
}


@media (max-width: 400px) {
  .introCard div {
    width: 100%;
  }
  .introCard {
  justify-content: center;
}
}