.introCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
    letter-spacing: 1px;
}
.introCard div {
  padding: 2rem;
  width: 60%;
  min-width: 250px;
}

.introCard h2 {
  text-decoration: none;
  font-size: 1.8em;
  font-family: "Roboto";
  font-weight: 600;
  letter-spacing: 3px;
}

.introCard header p {
  padding: 1.5rem 0;
}

.avatarCard {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}
@media (max-width: 400px) {
  .introCard div {
    width: 100%;
  }
  .avatarCard {
    order: -1;
    width: 100%;
  }
  .introCard {
  justify-content: center;
}
}