.CVPageContainer {
  color: black;
  font-size: 20px;
}

.CVPageContainer section ul span{
    font-weight: 600;
}
.cvTitle {
  text-align: center;
}

.linksWrapper{
  flex-grow: 2;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  padding-right: 15px;
}

.linksContainer div{
margin: 0.3rem 0;
}

.linksContainer p {
  line-height: single;
  margin: 0;
}
.linksContainer span {
  line-height: single;
  margin: 6px;
}
.linksContainer a span {
  display: flex;
  justify-content: space-between;
  color: #0b57d0;
}

.linksContainer img {
  max-width: 25px;
  display: inline;
}

.educationSection span {
  font-weight: 600;
}

.CVPageContainer >section {
  margin-top: 1em;
  background-color: #ffffff49;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.CVPageContainer h2,
.CVPageContainer h3,
.CVPageContainer h4 {
  color: black;
  font-weight: 700;
  line-height: 1.5;
}
.CVPageContainer h3{
    font-size: 1.6em;
    margin-bottom:0;
}

.CVPageContainer section p {
  margin: auto;
}

.CVPageContainer ul {
  margin: auto;
}

.CVPageContainer ul h5 {
  font-weight: 700;
  color: black;
  margin: auto;
}
.CVPageContainer ul li {
  list-style: disc;
  color: black;
}
.CVPageContainer ul li {
  list-style: none;
}

.educationElement {
  margin-top: 1em;
}
.educationElement>p {
  font-weight: 700;
}

.downloadBtn{
   background-color: rgb(35, 138, 230);
   color:#fff;
   padding: 10px;
   display: inline-block;
   border: 2px solid green;
   border-radius: 6px;
   margin: 5px 0;
}

.headerSection{
  display: flex;
  flex-wrap: wrap;
}

.avatar img{
  max-height: 200px;
  border-radius: 30%;
}