.sectionContainer {
  color: #aaa;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: #1c1c1c;
  border-radius: 0 0 10px 10px;
}

.navLinksGroup {
  width: 100%;
  display: flex;
  margin: 0.4rem 0.7rem;
  flex-grow: 5;
  padding-right: 3rem;
  justify-content: center;
}
.navLink {
  margin: 0 40px;
  flex-grow: 1;
  max-width: 30%;
  padding-top: 0.4rem;
}

.navLinksGroup a {
  text-decoration: none;
  font-size: 1em;
  font-family: "Kode_Mono";
  font-weight: 200;
  letter-spacing: 3px;
  padding: 1rem 1.5rem;
}

.homeBtn {
  font-size: 1em;
  font-family: "Kode_Mono";
  line-height: 1.5;
  letter-spacing: 10px;
  font-weight: 200;
  width: fit-content;
  align-self: left;
}

.popoverGroup {
  width: 100%;
}

.popoverGroup svg {
  margin: 0 2rem;
  color: #fff;
  height: 30px;
}
