@import url("./styles/reset.css");
@import url("./styles/fonts.css");
@import url("./styles/layout.css");
@import url("./styles/buttons.css");
@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
}

#main {
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
