@import url("./styles/reset.css");
@import url("./styles/fonts.css");
@import "tailwindcss";

body {
  background-image: url("../public/images/backgrounds/gradient3.jpg");
}

#main {
  margin: 2rem 4rem;
  min-height: 88vh;
}
h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
}
