.footer {
  padding: 20px;
  font-size: 18px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-attachment: scroll;
  background-color: #f4f4f4;
}

.footer div {
  display: flex;
  justify-content: center;
}
